.person {
  padding: 0.5em;
  width: 40%;

  background-color: #fff;
  color: #000;
}

.btn.btn-delete:hover,
.btn.btn-delete:focus {
  background-color: #fb5607;
}

@media screen and (max-width: 850px) {
  .person {
    margin: 0 auto;
    width: 90%;
  }
}
