.list__persons {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

@media screen and (max-width: 850px) {
  .list__persons {
    flex-direction: column;
  }
}
